{% extends 'portfolio/layout.html' %}

{% block main %}
    <h2>Blog</h2>
    <div class="espacamento2"></div>
    <p>Nesta página, <i>Blog</i> irei mostrar 6 posts de comentários que colegas meus fizeram quando realizaram trabalhos/projetos comigo assim como uma pessoa determinada e com predisposição para ajudar o próximo.</p>
    <div class="espacamento"></div>

    <h3>Comentário de colegas que trabalhei</h3>
    <div class="dicas">
        <div>
            <h1>Viaje devagar🤏🏻</h1>
            <p>Viajar não é uma competição! Não é o número de países e cidades que você visita que vai fazer a diferença, mas sim como você vive cada dia da sua experiência.</p>    
        </div>
        
        <div>
            <h1>Siga o seu coração❤️</h1>
            <p>Pela primeira vez na sua vida você vai ser totalmente livre. Não deixe o seu planeamento prender-te. Os planos servem apenas como uma orientação e não como regras.</p>
        </div>

        <div>
            <h1>Interagir com os locais🗺️</h1>
            <p>Esta é a melhor forma de conhecer uma cultura e também a mais interessante. Interagir com os locais vai trazer descobertas incríveis e momentos memoráveis para a sua viagem.</p>
        </div>

        <div>
            <h1>Planeia mas não stresses🗺️</h1>
            <p>Um certo planeamento faz bem, pra você não apanhar uma temperatura de -30 graus na Europa ou uma chuva torrencial por semanas no Sudeste asiático mas não fique stressado de modo a fazer o plano perfeito.</p>
        </div>

        <div>
            <h1>Relaxa e seja paciente🙏🏼</h1>
            <p>Não adianta ficar stressado com tudo que parece errado. Vai passar por culturas completamente diferentes da sua.</p>
        </div>

        <div>
            <h1>Não leve muita coisa🧳</h1>
            <p>Esqueça o conceito de férias onde leva imensa roupa. Por isso, seja prático, foque no necessário, escolha peças versáteis e deixe espaço, pois vai acabar adquirir alguma lembrança.</p>
        </div>
    </div>
{% endblock %}



