{% extends 'portfolio/layout.html' %}

{% block main %}
    <h1>{{ cadeira.nome }}</h1>
    <div class="espacamento2"></div>
    <p>Informações relativamente à disciplina de {{ cadeira.nome }}:</p>
    <ul>
        <div class="espacamento">
            <li>Ano: {{ cadeira.ano }}</li>
            <li>Semestre: {{ cadeira.semestre }}</li>
            <li>ECTS: {{ cadeira.ects }}</li>
            <li>Ano Letivo frequentado: {{ cadeira.anoLetivoFrequentado }}</li>
            <li>Tópicos abordados: {{ cadeira.topicosAbordados }}</li>
            <li>Ranking: {{ cadeira.ranking }} estrelas</li>
            <div class="espacamento2"></div>
            <li>Professores:</li>
            <ul>
                {% for professor in professores %}
                    <div class="espacamento">
                        <li>Nome: {{ professor.nome }}</li>  
                        <li><a href="{{ professor.linkPaginaLusofona }}">Página da Lusófona</a></li>
                        {% if professor.linkPaginaLinkedin != "" %}
                            <li><a href="{{ professor.linkPaginaLinkedin }}">Página do LinkedIn</a></li>
                        {% endif %}
                    </div>   
                {% endfor %}
            </ul>

            <li>Projetos:</li>
            {% if not projetos %}
                <ul>
                    <div class="espacamento">
                        <li>Sem projetos.</li>
                    </div>
                </ul>             
            {% else %}
                <ul>
                    <div class="espacamento">
                        {% for projeto in projetos %}
                            <li>{{ projeto.titulo }}</li>
                        {% endfor %}
                    </div>
                </ul>
            {% endif %}
        </div>
    </ul>
    

    <a href="{% url 'portfolio:apresentacao' %}" class="espacamento">Voltar</a>
    
{% endblock %}


