{% extends 'portfolio/layout.html' %}

{% block main %}
    <h2>Contactos📞</h2>
    <div class="espacamento2"></div>
    <p>Nesta página disponibilizo diversas informações como links associados ao percurso académico bem como redes sociais, contacto, ano, universidade e logotipo.</p>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>

    <p>Redes sociais e links para LinkedIn e GitHub:</p>
    <div class="espacamento">
        <a href= "https://www.linkedin.com/in/pedro-rocha-9a30aa209/">LinkedIn</a>
        <div class="espacamento2"></div>
        <a href="https://github.com/PedroRocha-a22003766">GitHub</a>
        <div class="espacamento2"></div>
        <a href="https://www.facebook.com/pedro.rocha.9876543210">Facebook</a>
        <div class="espacamento2"></div>
        <a href="">Instagram</a>
        <div class="espacamento2"></div>
    </div>
    <div class="espacamento"></div>

    <h2>Rodapé💼</h2>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <div class="espacamento2"></div>
    <p>Contactos e informações académicas:</p>
    <div class="espacamento">
        <a href="">🗺️ Mapa do Site</a>
        <div class="espacamento2"></div>
        <p>📞 Contacto : +351 969 253 565</p>
        <div class="espacamento2"></div>
        <p>🧑 Autor : Pedro Miguel Martins Rocha</p>
        <div class="espacamento2"></div>
        <p>🥈 Ano : 2º ano</p>
        <div class="espacamento2"></div>
        <p>⛪ Universidade : Universidade Lusófona de Humanidades e Tecnologias</p>
        <div class="espacamento2"></div>
        <p>📜 Logotipo : </p>
        <div class="espacamento2"></div>
        {% load static %}
        <img src="{% static 'portfolio/images/logo_ulht.jpg' %}" alt="LogotipoFaculdade">
    </div>
    
{% endblock %}
