<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Pedro Rocha">
        <meta name="keywords" content="Front-end, Back-end">
        <meta name="description" content="Portfolio">
        {% load static %}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'portfolio/images/papel.ico' %}">
        {% load static %}
        <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
        <script>
            function showTime() {
            var time =  new Date();
            var hora = time.getHours();
            var minuto = time.getMinutes();
            var segundo = time.getSeconds();
        
            if(hora < 10) hora = "0" + hora;
            if(minuto < 10) minuto = "0" + minuto;
            if(segundo < 10) segundo = "0" + segundo;
        
            var tempo = hora + ":" + minuto + ":" + segundo;
        
            document.getElementById("timer").innerHTML = tempo;
            }
        
            function initTime() {
                setInterval(showTime, 1000);
            }
        </script>
        
        <title>Portfólio Digital</title>
    </head> 
    <body onload="initTime();">
        <header>
            <div>Pedro Rocha 🎓</div>
            <nav>
              <a href="{% url 'portfolio:home' %}">Home🏡</a>       
              <a href="{% url 'portfolio:apresentacao' %}">Apresentação📋</a>      
              <a href="{% url 'portfolio:projetos' %}">Projetos📑</a>      
              <a href="{% url 'portfolio:web' %}">Web🌐</a>      
              <a href="{% url 'portfolio:blog' %}">Blog📝</a>
              <a href="{% url 'portfolio:contactos' %}">Contactos📞</a>
            </nav>
        </header>
          
        <main>
            {% block main %}
            {% endblock main %}
        </main>
        <p id="timer"></p>

        <footer>
            ULHT, 2022
        </footer>        
            
    </body>
</html>