{% extends 'portfolio/layout.html' %}

{% block main %}
<ol>
    <li><h3>Estrutura do Website</h3></li>
    <div class="espacamento2"></div>
    <p></p>
    <div class="espacamento"></div>

    <li><h3>Descrição da base de dados e sua modelação</h3></li>
    <div class="espacamento2"></div>
    <p></p>
    <div class="espacamento"></div>

    <li><h3>Lista de tecnologias usadas na criação do website</h3></li>
    <div class="espacamento2"></div>
    <p></p>
    <div class="espacamento"></div>

    <li><h3>Lista de padrões usados</h3></li>
    <div class="espacamento2"></div>
    <p></p>
    <div class="espacamento"></div>

    <li><h3>Comentários</h3></li>
    <div class="espacamento2"></div>
    <p></p> 
    <div class="espacamento"></div>
</ol>

{% endblock %}