{% extends 'portfolio/layout.html' %}

{% block main %}
    <div class="ancoras">
        <a href="#Web">Web</a> | <a href="#Tecnologias">Tecnologias existentes </a> | <a href="#Sobre">Sobre este Website</a> | <a href="#Laboratorios">Laboratórios</a> | <a href="#Noticias">Notícias</a> | <a href="#Tecnicas">Exemplos e técnicas</a> | <a href="#Quizz">Quizz</a>
    </div>
    <div class="espacamento"></div>
    
    <h2 id="Web">Web🌐</h2>
    <div class="espacamento2"></div>
    <p>Nesta página irei abordar as tecnologias existentes a nível de Programação Web bem como técnicas utilizadas como modo de aplicação neste portfólio.
    </p>
    <div class="espacamento2"></div>

    <p>Também colocarei um link para a página de laboratórios de Programação Web e informação de notícias.</p>
    <div class="espacamento2"></div>
    <p>No fim, um pequeno quizz relacionado com Programação Web.</p> 
    <div class="espacamento"></div>

    <ol>
        <li><h3 id="Tecnologias">Tecnologias existentes</h3></li>
        <div class="espacamento2"></div>
        <ul style="list-style-type:none;">
            <div class="espacamento1">
                {% for tecnologia in tecnologias %}
                    <a href="{% url 'portfolio:descricaoWeb' tecnologia.id %}">{{ tecnologia.acronimo }}</a>
                    <div class="espacamento2"></div>
                {% endfor %}
            </div>      
        </ul>
        <div class="espacamento2"></div>

        <li><h3 id="Sobre">Sobre este Website</h3></li>
        <ul style="list-style-type:square">
            <div class="espacamento">
                <li>Estrutura do site:</li>
                <li>Diagrama DER:</li>
                <li>Tecnologias usadas:</li>
                <li>Padrões usados:</li>
            </div>
        </ul>
        
        <li><h3 id="Laboratorios">Laboratórios</h3></li>
        <div class="espacamento2"></div>
        <div class="espacamento2"></div>
        <a href="https://a22003766-pw-labs.herokuapp.com/">Link para os laboratórios de Programação Web!</a>
        <div class="espacamento"></div>

        <li><h3 id="Noticias">Notícias</h3></li>
        <div class="espacamento2"></div>
        <p>Apresento uma lista de 10 noticias sobre artigos do medium.com que gostei: </p>
        <div class="espacamento2"></div>
        <div class="noticias">     
            {% for noticia in noticias %}
                <div>
                    <h3>{{ noticia.titulo }}</h3>
                    <br>
                    <p>{{ noticia.texto }}</p> 
                    <br>
                    <a href="{{ noticia.link }}">Link da Noticia</a>
                    <br> 
                    <p>{{ noticia.foto }}</p>   
                </div>
            {% endfor %}
        </div>
        <div class="espacamento"></div>

        <li><h3 id="Tecnicas">Exemplos e técnicas</h3></li>
        <div class="espacamento">
            <ul>
                <li>Técnicas e efeitos que gosto:</li>
                <div class="espacamento">
                    <ul>
                        <li>Boa organização;</li>
                        <li>Boa tipografia, com contraste;</li>
                        <li>Design responsivo;</li>
                        <li>Esquema de cores agradável;</li>
                        <li>Boa navegação;</li>
                        <li>Boa imagem de fundo e Interface;</li>
                        <li>Estilo consistente;</li>
                        <li>Com espaço;</li>
                        <li>Boa navegação, hierarquia e cor;</li>
                        <li>Boa hierarquia num elemento.</li>
                    </ul>
                </div>

                <li>Sites que gosto:</li>
                <div class="espacamento">
                    <ul>
                        <li><a href="https://www.cadigal.com.au/">Cadigal</a></li>
                        <li><a href="https://www.amazon.es/-/pt/?language=pt_PT&ie=UTF8&tag=hydes-21&hvadid=496315069889&hvpos=&hvexid=&hvnetw=g&hvrand=14239851229842899592&hvpone=&hvptwo=&hvqmt=e&hvdev=c&ref=pd_sl_4hqbqbuoel_e">Amazon</a></li>
                        <li><a href="https://pt.aliexpress.com/?gatewayAdapt=glo2bra">AliExpress</a></li>
                        <li><a href="https://pt.shein.com/?url_from=ptgooglebrandshein_shein01_srsa_LPT_20210526&cid=13258145513&setid=122293660026&adid=523956859333&pf=GOOGLE&gclid=Cj0KCQjw-daUBhCIARIsALbkjSaOlsu7Z6E-dGCDcaiDK66GFzrtc5d-ELvWNpYpxROiDFy07ks3_00aAmMBEALw_wcB">Shein</a></li>
                        <li><a href="https://www.tesla.com/pt_pt">Tesla</a></li>
                    </ul>
                </div>

                <li>Sites que não gosto:</li>
                <div class="espacamento">
                    <ul>
                        <li><a href="https://www.ptservidor.pt/">PTServidor</a></li>
                        <li><a href="https://www.jorgepires.pt/pt/">Jorge Pires</a></li>
                        <li><a href="https://www.casaldospatos.com/">Casal dos Patos</a></li>
                        <li><a href="https://luso-bonsai.com/">Luso Bonsai</a></li>
                    </ul>
                </div>

                <li>Tendências modernas de Programação Web:</li>
                <div class="espacamento">
                    <ul>
                        <li>Utilização de páginas próprias para estilizar as tags e os conteúdos (CSS);</li>
                        <li>Utilização de páginas próprias para fazer scripts na página (JS);</li>
                        <li>Utilização de frameworks para "poupar" trabalho repetido;</li>
                        <li>Boa navegação, hierarquia e cor num site (Bom Layout).</li>
                    </ul>
                </div>

                <li>Aspetos obsoletos:</li>
                <div class="espacamento">
                    <ul>
                        <li>Utilizar a tag style no head da página html;</li>
                        <li>Utilizar a tag script no head da página html;</li>
                        <li>Definir as propriedades dos elementos dentro da tag;</li>
                        <li>Página com mais informação = Melhor página <b>(ERRADO!)</b>.</li>
                    </ul>
                </div>
            </ul>
        </div>

        <li><h3 id="Quizz">Quizz</h3></li>
        <div class="espacamento2"></div>
        <div class="espacamento2"></div>
        <a href="">Clique aqui para iniciar o Quizz!</a>
    </ol>
{% endblock %}