{% extends 'portfolio/layout.html' %}

{% block main %}
    <h2>Web</h2>
    <div class="espacamento2"></div>
    <p>Nesta página irei abordar as tecnologias existentes a nível de Programação Web bem como técnicas utilizadas
        como modo de aplicação neste portfólio.
    </p>
    <div class="espacamento2"></div>

    <p>Também colocarei um link para a página de laboratórios de Programação Web e informação de notícias.</p>
    <div class="espacamento2"></div>
    <p>No fim, um pequeno quizz relacionado com Programação Web.</p> 
    <div class="espacamento"></div>

    <ol>
        <li><h3>Tecnologias existentes</h3></li>
        <div class="espacamento2"></div>
        <ul style="list-style-type:none;">
            <div class="espacamento1">
                {% for tecnologia in tecnologias %}
                    <a href="{% url 'portfolio:descricaoWeb' %}">{{tecnologia.acronimo}}</a>
                    <div class="espacamento2"></div>
                {% endfor %}
            </div>      
        </ul>
        <div class="espacamento"></div>

        <li><h3>Sobre este Website</h3></li>
        <div class="espacamento"></div>
        <li><h3>Laboratórios</h3></li>
        <div class="espacamento"></div>
        <li><h3>Notícias</h3></li>
        <div class="espacamento"></div>
        <li><h3>Exemplos e técnicas</h3></li>
        <div class="espacamento"></div>
        <li><h3>Quizz</h3></li>
    </ol>
{% endblock %}